@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;600;700;800&display=swap');

.custom-btn {
    /* Typography */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: left;

    /* Sizing */
    width: 95%;

    /* Spacing */
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 15px;

    /* Anim */
    cursor: pointer;
    transition: 0.2s;

    /* Appearance */
    background-color: #FFFFFF;
    color: #1C1E21;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

.custom-btn.active {
    background-color: #EAF4FF;
    color: #000002;
}

.custom-btn:hover {
    background-color: #ecf2f8;
    color: #1C1E21;
    opacity: 0.9;
}

.custom-btn svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
