.md-dropdown {
    position: relative;
    width: 100%;
}

/* ---------- Button ---------- */

.md-dropdown-btn {

    width: 100%;
    height: 42px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 12px;

    border: 1px solid var(--md-outline-variant);
    border-radius: var(--radius-sm);

    background: var(--md-surface-container);
    color: var(--md-on-surface);

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;

    transition: all var(--transition);
}

.md-dropdown-btn:hover {
    background: var(--md-hover);
}

.md-dropdown-btn.open {
    border-color: var(--md-primary);

    box-shadow:
        0 0 0 4px rgba(74,125,171,.15);
}

.md-dropdown-menu.open-up {
    top: auto;
    bottom: calc(100% + 8px);
}

.md-dropdown-btn:focus {
    outline: none;
}

/* ---------- Arrow ---------- */

.md-arrow {
    transition: transform .25s ease;
    font-size: 12px;
}

.md-arrow.rotate {
    transform: rotate(180deg);
}

/* ---------- Menu ---------- */

.md-dropdown-menu {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;

    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    background: var(--md-surface);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-2);

    padding: 8px;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-6px);

    transition:
        opacity .2s,
        transform .2s,
        visibility .2s;

    z-index: 1000;
}

.md-dropdown-menu.open-up {
    top: auto;
    bottom: calc(100% + 8px);
}

.md-dropdown-menu.show {

    opacity: 1;
    visibility: visible;

    transform: translateY(0);
}

/* ---------- Items ---------- */

.md-dropdown-item {

    width: 100%;
    height: 42px;

    border: none;
    background: transparent;

    border-radius: var(--radius-sm);

    text-align: left;

    padding: 0 14px;

    color: var(--md-on-surface);

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;

    transition: background .2s;
}

.md-dropdown-item:hover {

    background: var(--md-hover);
}

.md-dropdown-item:active {

    background: var(--md-selected);
}