#alert-button {
    height: 7rem;
    padding: 5px 15px;
    border: 1px solid #CBCBCB;

    pointer-events: none;
}

#icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    align-self: center;

    padding: 0px 15px 0px 0px;
}

#alert-button p {
    font-weight: 500;
}

#alert-button h5 {
    font-weight: 700;
}