#side-bar {
    /* Layout */
    display: flex;
    flex-direction: column;

    /* Sizing */
    min-height: 100vh;

    /* Spacing */
    padding: 20px 0px 30px 0px;

    /* Appearance */
    background-color: #FFFFFF;
    border: 1px solid #E4E6EB;
}

#side-bar .header-cont {
    padding: 20px 15px 40px 15px;
    justify-content: space-between;
}

#side-bar .header-cont button {
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 3px solid #EAF4FF;
    width: 38px;
    height: 38px;
}

#side-bar .header-cont button:active {
    background-color: #EAF4FF;
}

#side-bar .header-cont button svg {
    padding-left: 2px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    display: flex;

    align-items: center;
}

#side-bar .header-cont button:hover {
    background-color: #e5e8f0;
    color: #1C1E21;
    opacity: 0.9;
}

#nav-btn-group {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Button */
#log-out {
    padding-left: 20px;
    margin-top: auto;
}

/* Text */
#user-name {
    /* Appearance */
    font-weight: 600;
    justify-content: start;
    color: #1C1E21;
}
