#checkout-contents {
    /* Layout */
    min-height: 100vh;
    
    max-height: fit-content;

    /* Spacing */
    padding: 20px 20px 30px 20px;
    padding-left: 330px;
}

#checkout-content-left {
    /* Layout */
    display: flex;
    flex-direction: column;
}

#cart-container {
    /* Layout */
    max-height: 100vh;
    min-width: calc(100vh - 48vh);

    padding: 10px 10px;
}

#item-inputs {
    padding: 25px 0px;
}

#item-inputs .total_amount {
    justify-content: space-between;
}

#item-inputs .dropdown {
    padding: 7px 0px 7px 0px;
}

#item-inputs .form-control {
    background-color: #F3F4F6;
    border: 1px solid #D1D5DB;
    color: #1C1E21;
}

#checkout-content-left .search-bar-container {
    padding-bottom: 20px;
}

#checkout-content-left .form-control {
    width: 60%;
    border-color: #9097A8;
    border-radius: 25px;

    background-color: #FFFFFF;
}

#checkout-content-left .add-btn {
    width: 90%;
    background-color: #8a99b3;
    color: #FAF4E6;

    border: none;
    border-radius: 5px;
}

/* Button */
#complete-checkout {
    /* Layout & Sizing */
    height: 45px;
    width: 200px;

    /* Appearance */
    background-color: #42B72A;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
}

#complete-checkout:hover {
    background-color: #38A823;
}

/* Table */
.checkout-table-container {
    width: 100%;
    overflow-x: auto;
    background: none;

    border-color: #121212;
}

.checkout-table {
    padding-top: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    border-color: #121212;
}

.checkout-table th {
    background-color: #d7d0e9;
    color: #1D1D1F;
    border: 1px solid #83909e;
    padding: 10px;
}

.checkout-table td{
    border: 1px solid #83909e;
    padding: 5px;
}

.checkout-table tbody tr:nth-child(even) {
    background-color: #F3F0FA;
    border: 1px solid #D8E2EC;
}

.checkout-table tbody tr:nth-child(odd) {
    background: #FFFFFF;
    border: 1px solid #D8E2EC;
}

.checkout-table tbody tr:hover {
    font-weight: 600;
}

#checkout-content-left .col-left, #cart-container .col-left {
    text-align: left;
    padding-left: 10px;
}

#checkout-content-left .col-center, #cart-container .col-center {
    text-align: center;
}

/* Cart Table */
#cart-container .shopping-cart {
    padding-top: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    border: 1px solid #121212;
}

#cart-container h5 {
    font-weight: bold;
}

#cart-container .shopping-cart th {
    padding: 5px;
    background-color: #d7d0e9;
    color: #1D1D1F;
    border: 1px solid #83909e;
    color: #121212;
}

#cart-container .shopping-cart td{
    border-left: 1px solid #121212;
    padding: 5px 0px 5px 10px;
}

#cart-container .shopping-cart tbody tr:nth-child(even) {
    background-color: #FAF4E6;
    border: 1px solid #121212;
}

#cart-container .shopping-cart tbody tr:nth-child(odd) {
    background-color: #EDE7D9;
    border: 1px solid #121212;
}

#cart-container .shopping-cart tbody tr:hover {
    background-color: #121212;
    color: #E8F0E7;
    opacity: 0.5;
}

#cart-container .checkout-cart-container {
    padding-top: 25px;
}

#checkout-content-left .addCart {
    background-color: transparent;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 2px 5px;
}

#checkout-content-left .addCart:hover {
    background-color: #F3F4F6;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    padding: 2px 5px;
}