#checkout-contents {
    /* Layout */
    min-height: 100vh;
    max-height: fit-content;

    /* Spacing */
    padding: 20px 20px 30px 20px;
}

#checkout-content-left {
    /* Layout */
    display: flex;
    flex-direction: column;
}

#item-inputs {
    padding: 25px 0px;
}

#item-inputs .dropdown {
    padding: 7px 0px 7px 0px;
}

#item-inputs .form-control {
    background-color: #FAF4E6;
    border-color: #121212;
}

/* Button */
#complete-checkout {
    /* Layout & Sizing */
    height: 45px;
    width: 200px;

    /* Appearance */
    background-color: #121212;
    border-radius: 5px;
    border: none;
    color: #FAF4E6;

    transition: all 0.3s ease;
}

#complete-checkout:hover {
    background-color: #121212;
    color: #FAF4E6;
    transform: scale(1.05);
}