#checkout-contents {
    /* Layout */
    min-height: 100vh;
    max-height: fit-content;

    /* Spacing */
    padding: 20px 20px 30px 20px;
}

#checkout-content-left {
    /* Layout */
    display: flex;
    flex-direction: column;
}

#item-inputs {
    padding: 25px 0px;
}

#checkout-content-left .search-bar-container {
    padding-bottom: 20px;
}

#item-inputs .dropdown {
    padding: 7px 0px 7px 0px;
}

#item-inputs .form-control {
    background-color: #FAF4E6;
    border-color: #121212;
}

#checkout-content-left .form-control {
    border-color: #121212;
    border-radius: 5px;

    background-color: #EDE7D9;
}

#checkout-content-left .add-btn {
    background-color: #8a99b3;
    color: #FAF4E6;

    padding: 3px;
    border: none;
    border-radius: 5px;
}

/* Button */
#complete-checkout {
    /* Layout & Sizing */
    height: 45px;
    width: 200px;

    /* Appearance */
    background-color: #121212;
    border-radius: 5px;
    border: none;
    color: #FAF4E6;

    transition: all 0.3s ease;
}

#complete-checkout:hover {
    background-color: #121212;
    color: #FAF4E6;
    transform: scale(1.05);
}

/* Table */
.checkout-table-container {
    width: 100%;
    overflow-x: auto;
    background: #FAF4E6;

    border: 1px;
    border-color: #121212;
}

.checkout-table {
    padding-top: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    border: 1px solid #121212;
}

.checkout-table th {
    background-color: #FAF4E6;
    border-left: 1px solid #121212;
    padding-left: 10px;
    color: #121212;
}

.checkout-table td{
    border-left: 1px solid #121212;
    padding: 5px 0px 5px 10px;
}

.checkout-table tbody tr:nth-child(even) {
    background-color: #FAF4E6;
    border: 1px solid #121212;
}

.checkout-table tbody tr:nth-child(odd) {
    background-color: #EDE7D9;
    border: 1px solid #121212;
}

.checkout-table tbody tr:hover {
    background-color: #121212;
    color: #E8F0E7;
    opacity: 0.5;
}

#checkout-content-left .col-center {
    text-align: center;
}