#staff-contents {
    /* Layout */
    min-height: 100vh;

    /* Spacing */
    padding: 20px 20px 30px 20px;
    padding-left: 330px;
}

#staff-content-left {
    /* Layout */
    display: flex;
    flex-direction: column;
}

#add-new-container {
    /* Layout */
    max-height: 100vh;
    min-width: calc(100vh - 62vh);

    padding: 10px 10px;
}

#add-new-container h5 {
    font-weight: bold;
}

/* Table */
.staff-table-container {
    width: 100%;
    overflow-x: auto;
    background: none;

    border-color: #121212;
}

.staff-table {
    padding-top: 10px;
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;

    border-color: #121212;
}

.staff-table th {
    background-color: #d7d0e9;
    color: #1D1D1F;
    border: 1px solid #83909e;

    padding: 0px 5px;
}

.staff-table td{
    border: 1px solid #83909e;
    padding: 5px;
}

.staff-table tbody tr:nth-child(even) {
    background-color: #F3F0FA;
    border: 1px solid #D8E2EC;
}

.staff-table tbody tr:nth-child(odd) {
    background: #FFFFFF;
    border: 1px solid #D8E2EC;
}

.staff-table tbody tr:hover {
    font-weight: 600;
}

#staff-content-left .col-left {
    text-align: left;
    padding-left: 10px;
}

#staff-content-left .col-center {
    text-align: center;
}