@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: "Inter", sans-serif;

    /* Sizing */
    height: 100%;
}

/* Section Containers */
#main-pages {
    /* Sizing */
    min-height: 100vh;

    /* Appearance */
    background: linear-gradient(
        180deg,
        #ffffff 0%,
        #ecf2f8 50%,
        #EAF4FF 100%
    );
}

